<li class$="[[animationClass]] alert-log__event alert-log--[[toggleClass]]" on-click="toggleExpand">
	<div class="alert-log__event__select">
		<div class="rux-checkbox">
			<input checked$="{{selected::change}}" type="checkbox" name="{{id}}" id="{{id}}" />
			<label for="{{id}}" on-click="notifyClick"></label>
		</div>
	</div>
	<div class="alert-log__event__status">
		<rux-status status="[[severity]]"></rux-status>
	</div>
	<div class="alert-log__event__message">
		<div>{{message}}</div>
	</div>
	<div class="alert-log__event__category">
		<div>{{capitalize(category)}}</div>
	</div>
	<div class="alert-log__event__timestamp">
		<time datetime$="{{_formatMachineTime(time)}}">{{_formatReadableTime(time)}}</time>
	</div>
</li>
<div class="alert-log__detail">
	<div class="detail">{{ detail }}.</div>
	<rux-button on-click="visitInvestigate">Investigate</rux-button>
</div>