:host {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

/*
	** CSS-styled Scrollbars for IE & Webkit browsers
	** Dark theme by default.
	**
	*/

body {
	scrollbar-face-color: var(
		--scrollBarThumbBackgroundColor,
		rgb(58, 129, 191)
	);
	scrollbar-track-color: var(
		--scrollBarTrackCornerBackgroundColor,
		rgb(32, 50, 70)
	);
}

::-webkit-scrollbar {
	width: 18px;
	height: 18px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(
		--scrollBarThumbBackgroundColor,
		rgb(46, 103, 153)
	);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: padding-box;
}
/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
	border-left-width: 4px;
	min-height: 40px !important;
}

::-webkit-scrollbar-thumb:horizontal {
	border-top-width: 4px;
	min-width: 40px !important;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	background-color: var(
		--scrollBarThumbBackgroundHoverColor,
		rgb(58, 129, 191)
	);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background-color: var(
		--scrollBarTrackCornerBackgroundColor,
		rgb(26, 40, 56)
	);
}
::-webkit-scrollbar-track:vertical {
	-webkit-box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-track:horizontal {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.alert-bin-header {
	display: flex;
	flex: none;
	flex-flow: row nowrap;
	padding: 1rem;
	padding-bottom: 1.5rem;
}

.alert-summary {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
}
.alert-count {
	font-size: 2.75rem;
	line-height: 2.6rem;
	font-weight: 600;
}

.alert-filters {
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-end;
}

.alert-filter {
	margin: 0 0.5rem;
}

.alert-filter label {
	font-weight: bold;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	display: block;
}

.alert-filter .rux-select {
	min-width: 5rem;
}

.alert-log {
	display: flex;
	flex-grow: 1;
	flex-flow: column;
	font-size: 0.9rem;
}

.alert-log-header {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
	z-index: 10;
}

.alert-log__header-labels {
	display: flex;
	flex-grow: 1;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.5rem 1.75rem 0.5rem 0.75rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-width: 1px 0;
}

.alert-log__header-labels .alert-log__event__select {
	font-size: 0.8rem;
	font-weight: normal;
	color: var(--colorSecondary, rgb(77, 172, 255));
	cursor: pointer;
}
.alert-log__header-labels .alert-log__event__select[data-select-all] {
}

.alert-log__events {
	padding: 0;
	margin: 0;
	list-style: none;
	flex-grow: 1;
	height: 100%;
	min-height: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.alert-log__event {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.5rem;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.alert-log__event:last-child {
	border-bottom: none;
}

.alert-log__event__select {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 5rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}
.alert-log__event__select .rux-checkbox {
	display: inline-flex;
	margin: 0.25rem;
	width: 1.4rem;
}

.alert-log__event__status {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 2rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
}

.alert-log__event__message {
	flex-grow: 1;
	text-align: left;
	padding: 0 1rem;
	align-self: center;
}

.alert-log__event__category {
	flex-shrink: 0;
	text-align: left;
	width: 5rem;
	align-self: center;
}

.alert-log__event__timestamp {
	flex-shrink: 0;
	text-align: left;
	width: 5rem;
	padding-left: 1rem;
	align-self: center;
}

/* ol li:nth-child(even) {
		background-color: #283f58;
	} */

.alert-log__filter-enabled {
	flex-grow: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	align-content: center;
	background-color: var(--colorPrimaryDarken1, rgb(0, 68, 107));
	color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
	padding: 0.5rem;
	text-align: center;
	width: 100%;
}
.alert-log__filter-enabled a {
	color: var(--white, rgb(255, 255, 255));
	cursor: pointer;
	text-decoration: underline;
	font-weight: 500;
}
.alert-log__no-items {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	align-content: center;
	background-color: rgb(20, 31, 44);
	padding: 1.5rem;
	text-align: center;
}
.alert-log__no-items .rux-button {
	margin: 1rem auto 0;
}
.alert-log__actions {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 -0.5rem 1.25rem rgba(0, 0, 0, 0.25);
	padding: 2rem;
	margin-top: auto;
	z-index: 1;
}
.alert-log__actions .rux-button {
	margin: 0.25rem;
	min-width: 5rem;
}