:host {
	display: flex;
	width: 100%;
	
	flex-wrap: wrap;
}

:host([selected]) {
	/* height: auto; */
	height: auto;
}


:host([selected]) .rux-timeline-region--main {
	/* height: auto; */
	display: none;
}




.rux-timeline__track {
	background: linear-gradient(to right, var(--timelineTrackLabelBackgroundColor) 0, var(--timelineTrackLabelBackgroundColor) var(--playhead), var(--colorTertiaryDarken2) var(--playhead), var(--colorTertiaryDarken2) 100%);
}

.rux-timeline__track{
	position: relative;
	display: block;
	height: 60px;
	width: 100%;

	box-sizing: border-box;
	overflow: hidden;
}



*,
*:after,
*:before {
	box-sizing: inherit;
}

.rux-timeline__track {
	position: relative;
	/* height: 100%; */
	
}

ol {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}