
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  padding: 0;

  box-sizing: border-box;
  transform: translateZ(0);
  flex: 1 1 auto;
  min-width: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.rux-timeline__header,
.rux-timeline__footer {
  position: relative;

  display: flex;
  align-items: center;

  padding: 0 1em;

  background-color: var(--timelineHeaderBackgroundColor, rgb(32, 50, 70));

  z-index: 10;
}

.timeline-scale {
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin: 0 1rem 0 auto;

  

  width: 190px;
}

.timeline-scale rux-slider {
  /* outline: 1px solid red; */
}

.timeline-scale rux-icon {
  /* outline: 1px solid red; */
  margin: 0;
}

.rux-timeline__header {
  padding: 1.5rem 1.25rem;
  justify-content: center;
}

.rux-timeline__header h1 {
font-size: 1.25rem;
font-weight: 300;
margin-left: 0.5em;
}

.rux-timeline__header rux-slider {
margin-left: auto;
margin-right: 1rem;
}

/* the default .rux-button__icon expects you to be using .rux-button--large on the parent */
.rux-timeline__header .rux-button .rux-button__icon {
  height: 1.1rem;
  width: 1.1rem;
  margin-left: -0.3125rem;
}


.rux-timeline__footer {
display: none;
}


rux-timeline-track {
/* height: 60px; */
margin: 2px 0;
}



rux-timeline-track {
background-color: var(--timelineTrackBackgroundColor, rgb(40, 63, 88));
}

#rux-timeline__ruler {
display: flex;
justify-content: space-between;
position: -webkit-sticky;
position: sticky;
bottom: 0;
margin-left: -1px;

color: var(--fontColor, rgb(255,255,255));

background-color: var(--timelineRulerBackgroundColor, rgb(32, 50, 70));
height: 2em;
width: calc(100% + 4px);
flex-shrink: 1;
border-top: 1px solid rgba(0,0,0,0.2);

/* 
  hack to cover a 1px gap between the bottom of the ruler and the scrollbar 
  creating a peak-a-book glitch effect
*/
box-shadow: 0 2px 0 0 var(--timelineRulerBackgroundColor, rgb(32, 50, 70));
}

#rux-timeline__ruler div {
display: flex;
flex-shrink: 1;
font-size: 0.675rem;
/* top: 0; */
height: 20px;
width: 100%;
flex-shrink: 1;
/* position: absolute; */
border-left: 1px solid rgba(255, 255, 255, 0.2);
padding-left: 0.25rem;


/* border: 1px solid red; */
/* padding: 0.35rem 0 0 0.35rem; */
}


#rux-timeline__playhead {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 3px;
background-color: rgba(255,255,255,0.4);
z-index: 100;
display: none;
}


#rux-timeline__current-time {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 1px;
background-color: #5cb3ff;
z-index: 200;
display: none;
}
#rux-timeline__current-time::before {
content: "";
position: absolute;
top: 0;
left: -6px;
height: 5px;
width: 13px;
background-color: #5cb3ff;
}

#rux-timeline__current-time::after {
content: "";
position: absolute;
top: 5px;
left: -6px;
height: 5px;
width: 13px;
border-color: #5cb3ff;

border-top: 6px solid #5cb3ff;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
}


.rux-timeline__viewport {
  position: relative;
  display: flex;
  
  justify-content: flex-start;
  width: 100%;
  z-index: 5;
  
  overflow-y: hidden;
}


.rux-timeline__track__label-container {
  
  
  width: 100%;
  background-color: var(--timelineTrackLabelBackgroundColor, rgb(40, 63, 88));
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  height: 60px;
  margin: 2px 1px 2px 0;
  
}



.rux-timeline__track__label-container[selected] {
  height: auto;
}



.rux-timeline__track__label {
  
  
  width: 100%;
  
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 1.9875rem 0 0.9875rem;
  
  flex-grow: 0;
  

}




.rux-timeline__viewport__labels {
  flex-shrink: 0;
  position: relative;
  /* width: 12.875rem; */
  z-index: 200;
  margin-right: 2px;
  padding-bottom: 3.25em;
  overflow-y: hidden;  
}

.rux-timeline__viewport__labels::after {
  content: '';
  display: block;
  border-top: 1px solid rgba(0,0,0,0.2);
  background-color: var(--timelineRulerBackgroundColor, rgb(32, 50, 70));
  z-index: 1000;
  height: 3.25rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: -3.4rem;
  width: 100%;
}

#rux-timeline__viewport__tracks {
  
  height: auto;
  position: relative;
  z-index: 1;
  
  /* padding-top: 10px; */
}

#rux-timeline__tracks {
  position: relative;
  z-index: 0;
}

#rux-timeline__viewport__track-container {
  position: relative;
  overflow-y: scroll;
  z-index: 0;
  width: 100%;
}

.rux-timeline__filter {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.grid-zone__label .rux-status {
	margin-right: .5rem;
}