

<section class="rux-timeline__viewport">

	<!-- 
		Labels for each timeline track are derived from the tracks property.
		An alternative method would be to have labels encapsulated within
		the rux-timeline element, but it creates problems calculating scaling
		and scrolling the timeline when expanded.
	-->
	<div id="rux-timeline__viewport__labels" class="rux-timeline__viewport__labels">
		<template is="dom-repeat" id="rux-timeline-tracks" items=[[tracks]]>
			<div 
				id$="label-[[index]]" 
				class="rux-timeline__track__label-container"
				label=[[item.label]] 
				index$="[[index]]" 
				on-click="_onClick">
				<div class="rux-timeline__track__label">[[item.label]]</div>
			</div>
		</template>
	</div>

	<div id="rux-timeline__viewport__track-container">
		<div id="rux-timeline__viewport__tracks">
			<div id="rux-timeline__tracks" role="tree">
				<template is="dom-repeat" id="rux-timeline-track-template" items=[[tracks]] initial-count="1">
					<rux-timeline-track 
						aria-labelledby$="label-[[index]]" 
						data=[[item.data]] 
						label=[[item.label]]
						index=[[index]] 
						scale=[[scale]] 
						duration=[[_duration]] 
					 	selected-region={{selectedRegion}}></rux-timeline-track>
				</template>
			</div>
			<div id="rux-timeline__current-time"></div>
			<div id="rux-timeline__ruler"></div>
			<div id="rux-timeline__playhead"></div>
		</div>
	</div>
	

</section>

<footer class="rux-timeline__footer">Footer FPO</footer>