<div class="rux-timeline__track">
	<ol class="rux-timeline__regions">
		<template is="dom-repeat" id="regionsElements" items=[[data]]>
			<li>
				<rux-timeline-region 
					class="rux-timeline-region rux-timeline-region--main" 
					label=[[item.label]] 
					contact-id=[[item.contactId]]
					status=[[item.status]]
					start-time=[[item.startTime]] 
					end-time=[[item.endTime]] 
					detail=[[item.detail]]
					state=[[item.detail.state]]
					scale=[[scale]] 
					track-width=[[trackWidth]] 
					duration=[[duration]] 
					selected-region-id=[[selectedRegion.contactId]]
					on-click="_onClick">
				</rux-timeline-region>
			</li>
		</template>
	</ol>
</div>