

@keyframes appearInList {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.contact-log__event {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.5rem;
	background: #1d2f41;
	border-bottom: 2px solid rgba(12, 21, 29, .5);
	transition: background 0.5s;
	width: 100%;
	cursor: pointer;
}
.contact-log__event.animation-active {
	animation: appearInList 0.5s ease-in-out;
	background: var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}
.contact-log__event:hover {
	background: rgb(40, 63, 88);
}

.contact-log__event__status {
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
	width: 4rem;
	overflow: hidden;
	text-align: center;
	align-self: center;
	display: flex;
	justify-content: center;
}

.contact-log__event__satellite,
.contact-log__event__nextpass,
.contact-log__event__aos,
.contact-log__event__los,
.contact-log__event__groundstation,
.contact-log__event__azimuth,
.contact-log__event__elevation,
.contact-log__event__state,
.contact-log__event__actions {
	flex: 0 0 5rem;
	text-align: left;
	padding: 0 1rem;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contact-log__event__state {
	text-transform: capitalize;
}

.contact-log__event__satellite { flex: 1 0 10%; }
.contact-log__event__nextpass { flex: 0 0 7rem; }
.contact-log__event__groundstation { flex: 0 0 9rem; }
.contact-log__event__azimuth { flex: 0 0 7rem; }
.contact-log__event__elevation { flex: 0 0 7rem; }
.contact-log__event__state { flex: 0 0 8rem; }
.contact-log__event__action { flex: 0 0 10rem; }


.contact-log__event__state--serious {
	font-weight: bold;
	color: var(--colorSerious, rgb(255, 176, 0));
}
.contact-log__event__state--normal {
}

.contact-log__detail {
	overflow: hidden;
	padding: 0 1rem 0 2.5rem;
	height: 0;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	background: rgba(20, 32, 44, 0.5);
}

.contact-log__event.contact-log--expanded {
	background: var(--colorTertiary, rgb(40, 63, 88));
}

.contact-log--expanded + .contact-log__detail {
	height: auto;
	padding: 2rem 1rem 2rem 2.5rem;
	display: flex;
	flex-flow: row nowrap;
}
.contact-log__detail__text {
	flex: 8 auto;
	padding-right: 1rem;
}
.contact-log__detail__command-mode {
	flex: auto;
}
.contact-log__detail__command-mode label {
	font-weight: bold;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	display: block;
}
.contact-log__detail__command-mode .rux-select {
	padding-right: 2rem;
}