<li class$="[[animationClass]] contact-log__event contact-log--[[toggleClass]]">
	<div class="contact-log__event__status">
		<rux-status status="[[status]]"></rux-status>
	</div>
	<div class="contact-log__event__satellite">{{ satellite }}</div>
	<div class="contact-log__event__nextpass">{{ nextPass }}</div>
	<div class="contact-log__event__aos">{{ formattedAos }}</div>
	<div class="contact-log__event__los">{{ formattedLos }}</div>
	<div class="contact-log__event__groundstation">{{ groundstation }}</div>
	<div class="contact-log__event__azimuth">{{ azimuth }}&#176;</div>
	<div class="contact-log__event__elevation">{{ elevation }}&#176;</div>
	<div class="contact-log__event__state">{{ state }}</div>
	<div class="contact-log__event__action">&hellip;</div>
</li>
<div class="contact-log__detail">
	<div class="contact-log__detail__text">{{ detail }}</div>
	<div class="contact-log__detail__command-mode">
		<label for="commandModeSelector">Command Mode</label>
		<select id="commandModeSelector" value="{{ mode::change }}" class="rux-select" required>
			<dom-repeat items="{{ commandModes }}">
				<template is="dom-repeat" items="{{ commandModes }}">
					<option value$="{{ item }}" selected$="[[is(mode, item)]]">{{ item }}</option>
				</template>
			</dom-repeat>
		</select>
	</div>
</div>


