:host {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  overflow: hidden;
}



 
/*
  ** CSS-styled Scrollbars for IE & Webkit browsers
  ** Dark theme by default.
  **
  */

body {
  scrollbar-face-color: var(--scrollBarThumbBackgroundColor,
    rgb(58, 129, 191));
  scrollbar-track-color: var(--scrollBarTrackCornerBackgroundColor,
    rgb(32, 50, 70));
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollBarThumbBackgroundColor,
    rgb(46, 103, 153));
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
  border-left-width: 4px;
  min-height: 40px !important;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 4px;
  min-width: 40px !important;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollBarThumbBackgroundHoverColor,
    rgb(58, 129, 191));
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: var(--scrollBarTrackCornerBackgroundColor,
    rgb(26, 40, 56));
}

::-webkit-scrollbar-track:vertical {
  -webkit-box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.contact-bin-header {
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.contact-log {
  display: flex;
  flex-flow: column;
  font-size: 0.9rem;
  overflow: hidden;
}

.contact-log-header {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25);
  /* perhaps just when scroll isn't at top? */
}

.contact-log__header-labels {
  display: flex;
  flex-grow: 1;
  color: var(--logHeaderTextColor, rgb(169, 178, 188));
  font-weight: bold;
  flex-shrink: 0;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  padding-right: 1.75rem;
  border: 1px solid rgba(255, 255, 255, 0.0625);
  border-width: 1px 0;
}

.contact-log__events {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-log__header-labels .contact-log__event__select {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--colorSecondary, rgb(77, 172, 255));
  cursor: pointer;
}

.contact-log__header-labels .contact-log__event__select[data-select-all] {}

.contact-log__events {
  height: 100%;
  min-height: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contact-log__event {
  display: flex;
  align-content: flex-start;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0.5rem;
  border-bottom: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
}

.contact-log__event:last-child {
  border-bottom: none;
}

.contact-log__event__status {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  width: 4rem;
  overflow: hidden;
  text-align: center;
  align-self: center;
}

.contact-log__event__satellite,
.contact-log__event__nextpass,
.contact-log__event__aos,
.contact-log__event__los,
.contact-log__event__groundstation,
.contact-log__event__azimuth,
.contact-log__event__elevation,
.contact-log__event__state,
.contact-log__event__action {
	flex: 0 0 5rem;
	text-align: left;
	padding: 0 1rem;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.contact-log__event__satellite { flex: 1 0 10%; }
.contact-log__event__nextpass { flex: 0 0 7rem; }
.contact-log__event__groundstation { flex: 0 0 9rem; }
.contact-log__event__azimuth { flex: 0 0 7rem; }
.contact-log__event__elevation { flex: 0 0 7rem; }
.contact-log__event__state { flex: 0 0 8rem; }
.contact-log__event__action { flex: 0 0 10rem; }


.contact-log__header-labels [data-sort-by] {
	cursor: pointer;
}
.contact-log__header-labels [data-sort-active] {
	color: #5cb3ff;
}
.contact-log__header-labels [data-sort-active]:after {
	content: '';
	display: inline-flex;
	width: 0;
	height: 9px;
	border-color: #5cb3ff;
	border-top: 6px solid #5cb3ff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: .125rem;
}

/* ol li:nth-child(even) {
    background-color: #283f58;
  } */

.contact-log__filter-enabled {
  flex-grow: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  align-content: center;
  background-color: var(--colorPrimaryDarken1, rgb(0, 68, 107));
  color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.contact-log__filter-enabled a {
  color: var(--white, rgb(255, 255, 255));
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.contact-log__no-items {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  align-content: center;
  background-color: rgb(20, 31, 44);
  padding: 1.5rem;
  text-align: center;
}

.contact-log__no-items .rux-button {
  margin: 1rem auto 0;
}

.contact-log__actions {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid var(--logHeaderBackgroundColor, rgb(20, 32, 44));
  box-shadow: 0 -0.5rem 1.25rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  margin-top: auto;
}

.contact-log__actions .rux-button {
  margin: 0.25rem;
  min-width: 5rem;
}