<div class="contact-log">
  <header class="contact-log-header">
    <div class="contact-log__header-labels">
      <div class="contact-log__event__status" 
      on-click="handleChangeSort" data-sort-by="contactResolutionStatus" data-sort-active$="[[ is(sortBy,'contactResolutionStatus') ]]">
        Status
      </div>
      <div class="contact-log__event__satellite" 
      on-click="handleChangeSort" data-sort-by="contactSatellite" data-sort-active$="[[ is(sortBy,'contactSatellite') ]]">
        Satellite
      </div>
      <div class="contact-log__event__nextpass">
        Next Pass
      </div>
      <div class="contact-log__event__aos" 
      on-click="handleChangeSort" data-sort-by="contactBeginTimestamp" data-sort-active$="[[ is(sortBy,'contactBeginTimestamp') ]]">
        AOS
      </div>
      <div class="contact-log__event__los" 
      on-click="handleChangeSort" data-sort-by="contactEndTimestamp" data-sort-active$="[[ is(sortBy,'contactEndTimestamp') ]]">
        LOS
      </div>
      <div class="contact-log__event__groundstation" 
      on-click="handleChangeSort" data-sort-by="contactGround" data-sort-active$="[[ is(sortBy,'contactGround') ]]">
        Ground Station
      </div>
      <div class="contact-log__event__azimuth">
        Azimuth
      </div>
      <div class="contact-log__event__elevation">
        Elevation
      </div>
      <div class="contact-log__event__state" 
      on-click="handleChangeSort" data-sort-by="contactResolution" data-sort-active$="[[ is(sortBy,'contactResolution') ]]">
        State
      </div>
      <div class="contact-log__event__action">
        Actions
      </div>
    </div>
  </header>

  <ol class="contact-log__events">
    <template is="dom-repeat" id="contactLogData" sort="[[sortFn]]" items="[[log]]" initial-count="1">
     
     <contact-item restamp 
          index="[[index]]" 
          bind="[[item]]" 
          status="[[item.contactResolutionStatus]]" 
          satellite="[[item.contactSatellite]]" 
          contact-begin-timestamp="[[item.contactBeginTimestamp]]" 
          contact-end-timestamp="[[item.contactEndTimestamp]]" 
          groundstation="[[item.contactGround]]" 
          azimuth="[[item.contactAzimuth]]" 
          elevation="[[item.contactElevation]]" 
          state="[[item.contactResolution]]">
      </contact-item>
    </template>
  </ol>
</div>