:host {
	position: absolute;
	top: 0;
	left: 110px;
	z-index: 10000;

	--caretTop: 75px;
	--caretLeft: -10px;
	
}

:host([hidden]) {
	display: none !important;
}

.tooltip {
	top: -45px;
	left: 100%;
	margin-left: 25px;
	position: absolute;
	text-transform: none;
	width: 250px;
	border: 1px solid var(--colorSecondaryDarken3);
	border-left: 4px solid var(--colorSecondaryDarken1);
	background: rgba(20, 31, 44, 1);
	z-index: 1;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	overflow: visible;
	border-radius: 3px;	
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}


.tooltip::before {
	content: '';
	position: absolute;
	top: var(--caretTop);
	left: var(--caretLeft);
	width: 12px;
	height: 12px;
	background-color:  var(--colorSecondaryDarken1, rgb(62, 138, 204));
	border-bottom: 1px solid var(--colorSecondaryDarken1, rgb(62, 138, 204));
	border-left: 1px solid var(--colorSecondaryDarken1, rgb(62, 138, 204));
	z-index: -1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: block;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
	transition: top 0.137s ease-out
}

.tooltip__title {
	font-size: 16px;
	padding: 10px 15px 2px;
	background: inherit;
	font-weight: bold;
	border-radius: 3px 3px 0 0;	

}
.tooltip__body {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	background: inherit;
	border-radius: 0 0 3px 3px;	

}
.tooltip__graph {
	border: 1px solid var(--colorSecondaryDarken3);
	background: rgb(26, 40, 56);
	height: 105px;
	margin-bottom: 5px;
}
.tooltip__meta {
	padding: 2px 10px 5px;
	display: flex;
	flex-flow: row;
}

.tooltip__value {
	font-weight: bold;
	text-transform: capitalize;
}
.tooltip__label {
	padding-right: 10px;
	flex: 0 1 40%;
}
.tooltip__meta--watched {
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 5px;
}
.tooltip__meta--watched .rux-checkbox {
	margin-bottom: 0;
	line-height: 20px;
}
.tooltip__meta--subsystem a {
	color: var(--colorSecondary);

}