<div class="detail-pane">
	<header class="detail-pane__header">
		<rux-status status=[[detail.state]]></rux-status>
		<div>[[detail.detail.satellite]]</div>
		<a href=[[investigateURL]] target="_blank">
			<svg class="rux-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="15" height="16" viewBox="0 0 15 16" enable-background="new 0 0 15 16" xml:space="preserve">
				<path fill="#3D89CC" d="M12,8h2v6c0,1.1-0.9,2-2,2H2c-1.1,0-2-0.9-2-2V4c0-1.1,0.9-2,2-2h5v2H2v10h10V8z"/>
				<path fill="#3D89CC" d="M11.7,2H10C9.4,2,9,1.6,9,1s0.4-1,1-1h4c0.4,0,0.8,0.2,0.9,0.6C15,0.7,15,0.9,15,1v4c0,0.6-0.4,1-1,1 s-1-0.4-1-1V3.6L9.7,7.2c-0.4,0.4-1,0.4-1.4,0.1c-0.4-0.4-0.4-1-0.1-1.4L11.7,2z"/>
			</svg>
		</a>
		<a class="detail-pane__close-button" on-click="closePane">
			<svg xmlns="http://www.w3.org/2000/svg" width="17" height="12" viewBox="0 0 17 12">
				<path fill="#4DACFE" d="M16.2 2.5L12 6 16.2 9.5 16.2 12 9 6 16.2 0 16.2 2.5zM7.2 2.5L3 6 7.2 9.5 7.2 12-1.45431547e-12 6 7.2 0 7.2 2.5z" transform="matrix(-1 0 0 1 17 0)"/>
			</svg>
		Close</a>
	</header>

	<main class="detail-pane__wrap">
		<div class="detail-pane__controls">
			<rux-segmented-button class="constellation__detail-pane__view-switcher" data={{detailView}}>
			</rux-segmented-button>
		</div>

		<!-- Contact Details -->
		<section class="contact-details" hidden$=[[!detailView.selected.contact]]>
			<dl class="contact-details__segment next-pass">
				<dt>
					<svg class="rux-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
						<path fill="#FFF" d="M8.5,19 C3.80558,19 0,15.19442 0,10.5 C0,5.80558 3.80558,2 8.5,2 C13.19442,2 17,5.80558 17,10.5 C17,15.19442 13.19442,19 8.5,19 Z M8.5,17 C12.089851,17 15,14.089851 15,10.5 C15,6.910149 12.089851,4 8.5,4 C4.910149,4 2,6.910149 2,10.5 C2,14.089851 4.910149,17 8.5,17 Z M7.5,12.5 L7.5,6.5 C7.5,5.947715 7.947715,5.5 8.5,5.5 C9.052285,5.5 9.5,5.947715 9.5,6.5 L9.5,10.5 L12,10.5 C12.552285,10.5 13,10.947715 13,11.5 C13,12.052285 12.552285,12.5 12,12.5 L7.5,12.5 Z" transform="translate(0 -2)"/>
					</svg>
					Next Pass
				</dt>
				<dd>[[_getDayOfYear(detail.startTime)]]</dd>
				<dt>AOS</dt>
				<dd>[[_getTime(detail.startTime)]]</dd>
				<dt>LOS</dt>
				<dd>[[_getTime(detail.endTime)]]</dd>
				<dt>State</dt>
				<dd>[[detail.detail.state]]</dd>
			</dl>
			<dl class="contact-details__segment ground-station">
				<dt>
						<svg class="rux-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
							<path fill="#ffffff" d="M11.1234568,17 L0,17 L4.59482716,11.7530864 L5.97203704,13.0387901 L9.01125926,12.7464321 L11.1234568,17 Z M10.3718889,4.91216049 L14.8399506,2.35901235 L12.2865926,6.82728395 L16.5802469,11.1205185 L6.30175309,11.962963 L4.61728395,10.2784938 L5.45951852,0 L10.3718889,4.91216049 Z"/>
						</svg>
						
					Ground Station</dt>
				<dd>[[detail.label]]</dd>
				<dt>Azimuth</dt>
				<dd>[[detail.detail.azimuth]]°</dd>
				<dt>Elevation</dt>
				<dd>[[detail.detail.elevation]]°</dd>
			</dl>
		</section>

		<!-- Pass Plans -->
		<section class="pass-plans" hidden$=[[detailView.selected.contact]]>
			<header class="pass-plans__header">
				<div class="pass-plans__next-pass">
					<svg class="rux-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
						<path fill="#FFF" d="M8.5,19 C3.80558,19 0,15.19442 0,10.5 C0,5.80558 3.80558,2 8.5,2 C13.19442,2 17,5.80558 17,10.5 C17,15.19442 13.19442,19 8.5,19 Z M8.5,17 C12.089851,17 15,14.089851 15,10.5 C15,6.910149 12.089851,4 8.5,4 C4.910149,4 2,6.910149 2,10.5 C2,14.089851 4.910149,17 8.5,17 Z M7.5,12.5 L7.5,6.5 C7.5,5.947715 7.947715,5.5 8.5,5.5 C9.052285,5.5 9.5,5.947715 9.5,6.5 L9.5,10.5 L12,10.5 C12.552285,10.5 13,10.947715 13,11.5 C13,12.052285 12.552285,12.5 12,12.5 L7.5,12.5 Z" transform="translate(0 -2)"/>
					</svg>
					Next Pass: [[_getDayOfYear(detail.startTime)]] AOS: [[_getTime(detail.startTime)]]
				</div>

				<ul class="pass-plans__list-header">
					<li><span class="pass-plans__list-header__step">Step</span> Command<span class="run-length">Run&nbsp;Length</span></li>
				</ul>
			</header>

			<ol class="pass-plans__list">
					<template is="dom-repeat" items=[[passPlanSteps]] as="step">
						<template is="dom-if" if="[[is(step.type, 'single-step')]]">
							<li><i class$="rux-tree__arrow" on-click="_expand" title="Expand"></i>
								<div class="pass-plans__list__parent"><span class="command">Verify <a
											class="pass-plans__list__mnemonic">[[step.label]]</a> = <b>[[step.expectedValue]]</b></span></div>
											
							</li>
					</template>

					<template is="dom-if" if="[[is(step.type, 'two-part')]]">
							<li>
								<div class="pass-plans__list__parent"><span class="command">Are you receiving telemetry?</span></div>		
							</li>
					</template>

					<template is="dom-if" if="[[is(step.type, 'multi-step')]]">
							<li><i class="rux-tree__arrow" on-click="_expand" title="Expand"></i>
								<div class="pass-plans__list__parent">
									<span>[[step.label]]</span> 
									<span class="run-length">00:00:25</span>
								</div>
								<ol class="pass_plans__list pass_plans__list__children">
									<template is="dom-repeat" items=[[step.steps]] as="substep">
										<li>
											<div class="pass_plans__list__child"><span class="command">Verify <a
														class="pass-plans__list__mnemonic">[[substep.label]]</a> = <b>[[substep.expectedValue]]</b></span></div>
										</li>
									</template>
								</ol>
							</li>
					</template>
				</template>
				
							</ol> 
							
							<footer class="detail-pane__footer">
									<div>Total Run Length: 00:00:50</div>
								</footer>
						</section> 
					</main>
					
		</div>