:host {
	white-space: nowrap;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	font-size: 0.875rem;

	--fontFamilyMono: "Roboto Mono", "Menlo", monospace;
}

[hidden] {
	display: none !important;
}

.detail-pane {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: stretch;
	
	background-color: var(--colorTertiaryDarken2, rgb(24, 38, 53));
}

.detail-pane__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;

	font-size: 1.25rem;
	padding: 0.75rem 0.25rem;
	background-color: var(--colorTertiaryDarken3);
}

.detail-pane__header .rux-icon {
	margin-left: 0.5rem;
	color: var(--colorPrimary, rgb(0, 90, 143));
}

.detail-pane__close-button {
	cursor: pointer;
}

.detail-pane__footer {
	text-align: right;
	padding: 1rem;
	font-size: 1.125rem;
	
	background-color: var(--colorTertiaryDarken3);
}



.detail-pane__title {
	font-size: 1.4rem;
	padding: 1rem 0 .5rem;
}
.detail-pane__main {
	padding: .5rem 1.5rem;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}

.detail-pane__wrap {
	flex-grow: 1;
}


.detail-pane__controls {
	padding: 0.75rem 1rem;
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
	display: flex;
	justify-content: center;
}

 

.detail-pane__close-button {
	margin-left: auto;
	margin-right: 1rem;
}

.contact-details {
	
}

.contact-details dl {
	display: flex;
	flex-wrap: wrap;
	
	max-width: 17rem;
	margin: 2rem auto 2rem 25%;
}

.contact-details__segment dt {
	font-weight: normal;
	text-align: right;
}

.contact-details__segment dt svg {
	margin-left: -1.65rem;
	margin-right: 0.5rem
}

.contact-details rux-icon {
	margin-left: -1.65rem;
	margin-right: 0.5rem;
	outline: 1px solid red;
}

.contact-details__segment dd{
	font-weight: bold;
	text-align: left;
	text-transform: capitalize;
}

.contact-details__segment dt,
.contact-details__segment dd {
	
	display: flex;
	align-items: center;
	margin: 0 0.5rem 1rem 0.5rem;
	width: 44%;
	max-width: 7.5rem;
}


.pass-plans {
	display: flex;
	flex-direction: column;
	padding: 0 0.5rem;
}

.pass-plans > ol {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;

	height: 90%;
}

.pass-plans__header {
	
	text-align: center;	
}

.pass-plans__next-pass {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	margin-bottom: 0.75rem;
	background-color: #007C99;
	box-shadow: inset 0 0 6px #00CFFF;
	outline: 1px solid #00CFFF;
}

.pass-plans__next-pass .rux-icon {
	margin-right: 0.35rem;
}

.pass-plans__list-header {
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 10;
	position: relative;

	color: #888;
	font-weight: bold;
	box-shadow: 0 10px 14px rgba(0,0,0,0.25);
	padding: 0 0.25rem 0.5rem 0.25rem;
}


.pass-plans__list-header__step {
	margin-right: 1.75rem;
}


.pass-plans ol {
	margin: 0;
	padding: 0;
	
	
	overflow-y: auto;
	counter-reset: item;
}

.pass-plans > ol {
	height: calc(100vh - 22rem);
	overflow-y: auto;
}

.pass-plans li {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
}


.pass-plans a {
	color: #fff;
	border-bottom: 1px dashed #fff;
}

.pass-plans li:not(:last-child) {
	border-bottom: 2px solid var(--colorTertiaryDarken3, rgb(24, 38, 53));
}

.pass-plans ol li::before {
	display: block;
	order: 2;
	flex-grow: 0;
	margin-right: 1.875rem;
	margin-left: 1.625rem;

	
	font-weight: bold;
	content: counters(item, "-") " "; 
	counter-increment: item;
	
}


.pass-plans__list__parent {
	padding: 0.65rem 0;
	display: flex;
	flex-grow: 1;
	order: 3;
	justify-content: space-between;
}

.pass_plans__list__child {
	order: 3;
	
}

[expanded] .pass_plans__list__children {
	display: flex;
}

.pass_plans__list__children li {
	width: 100%;
	padding: 0.65rem 0 0.65rem 2.6rem;
}

.pass_plans__list__children {
	display: none;
	flex-shrink: 0;
	flex-grow: 0;
	flex-wrap: wrap;
	width: 100%;
	order: 4;

	border-top: 2px solid var(--colorTertiaryDarken3, rgb(24, 38, 53));
	
}



.run-length {
	margin-right: 0.5rem;
	margin-left: auto;
}


.rux-tree__arrow {
	position: relative;
	cursor: pointer;
	order: 1;
	width: 7px;
	margin: 2px -13px 0 7px;
	visibility: visible;
	background-color: transparent;
	
}

.rux-tree__arrow::after {
	content: "";

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 7px;
	border-color: transparent transparent transparent
		var(--treeAccentColor, rgb(77, 172, 255));
	display: inline-block;
}

[expanded] .rux-tree__arrow::after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

