<div class="watcher__equipment-label">
    <div>{{primary}}</div>
</div>
<div class="watcher__detail">
    <header class="watcher-header">
        <div class="watcher__header-labels">
            <div class="watcher__item__prop watcher__item__status"></div>
            <div class="watcher__item__prop watcher__item__mnemonic">Mnemonic</div>
            <div class="watcher__item__prop watcher__item__unit">Unit</div>
            <div class="watcher__item__prop watcher__item__threshold">Threshold</div>
            <div class="watcher__item__prop watcher__item__actual">Actual</div>
        </div>
    </header>
    <ul class="watcher">
        <template is="dom-repeat" items="[[watchedItems]]">
            <li class="watcher__item" on-click="selectMnemonic" selected$="[[is(item, selectedMnemonic)]]">
                <rux-status class="watcher__item__prop watcher__item__status" status="[[item.status]]"></rux-status>
                <div class="watcher__item__prop watcher__item__mnemonic">
                    <span id$="[[item.mnemonic]]" class="tooltip-trigger" on-click="showToolTip">[[item.mnemonic]]</span>
                </div>
                <div class="watcher__item__prop watcher__item__unit">[[item.unit]]</div>
                <div class="watcher__item__prop watcher__item__threshold">[[item.threshold]]</div>
                <div class="watcher__item__prop watcher__item__actual">[[item.value]]</div>
            </li>
        </template>
    </ul>
</div>