.line {
    fill: none;
    stroke: "#4DACFF";
    stroke-width: .2rem;
}

.grid line {
    stroke: white;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis line {
    stroke: white
}

.axis path {
    stroke: white;
}

.axis text {
    fill: white;
}

.threshold-text {
    font-family: 'Open Sans';
    fill: white;
    font-size: .65rem;
    font-weight: bold;
}

.threshold-line {
    fill: none;
    stroke: white;
    stroke-width: .15rem;
    stroke-opacity: 0.9;
    stroke-dasharray: .15rem;
    shape-rendering: crispEdges;
}

.label-text {
    font-family: 'Open Sans';
    fill: white;
    font-size: .85rem;
    font-weight: bold;
    text-anchor: "middle";
}

.watcher-graph-satellite__label {
    font-family: 'Open Sans';
    flex: none;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .3rem;
	color: white;
    font-size: 1rem;
    font-weight: bold;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.watcher-graph-mnemonic__label {
    font-family: 'Open Sans';
    flex: none;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: .2rem;
	color: white;
    font-size: .7rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}