

:host {
	--gridGutter: .5rem;
	--rightPaneWidth: 24vw;
	--appMenuDefault: #455D6E;
	--appMenuActive: #FFF;
}

[hidden] {
	display: none !important;
}

.grid-zone {
	grid-column-start: auto;
	grid-column-end: auto;
	grid-row-start: auto;
	grid-row-end: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.grid-zone--header {
	grid-area: header;
}

.grid-zone--sidebar {
	grid-area: sidebar;
	border: 1px solid #475e75;
	border-left-width: 0;
	background: rgb(26, 40, 56);
	margin-top: calc( var(--gridGutter) *2 );
	margin-bottom: calc( var(--gridGutter) *2 );

}

.grid-zone--main {
	grid-area: main;
	padding: calc( var(--gridGutter) *2 );
	padding-left: var(--gridGutter);
	display: flex;
	flex-flow: row nowrap;
}

.grid-zone--main__content {
	display: flex;
	flex-flow: column;
	height: 100%;
	flex: 2 0;
	min-width: 0;
	width: 100%;
}

.grid-zone .grid-zone--main__detail-pane {
	display: flex;
	flex: 0 0 0;
	width: 0;
  /* right: calc(var(--rightPaneWidth) * -1); 
	position: absolute; */
	transition: all .5s ease-in-out;
	z-index: 10;
	margin-left: var(--gridGutter);
	border: 0px solid #475e75;
	background-color: rgb(32, 50, 70);
	background:
		linear-gradient(
			to top,
			rgb(26, 40, 56) 0%,
			rgb(32, 50, 70) 80%,
			rgb(40, 63, 88) 100%
		);
}




.grid-zone .grid-zone--main__detail-pane[open] {
	width: var(--rightPaneWidth);
	flex: 1 0 0;
	border-width: 1px;
}

.grid-zone--main__content__upper {
	display: flex;
	border: 1px solid #475e75;
	margin-bottom: var(--gridGutter);
	background: rgb(26, 40, 56);
	height: 70vh;
}

.grid-zone--main__content__lower {
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid #475e75;
	background: rgb(26, 40, 56);
	height: 26vw;
}
@media (min-height: 1000px) {
	.grid-zone--main__content__lower {
		height: 23vw;
	}
}

.grid-zone--main__content__lower__left {
	border-right: 1px solid #475e75;
	flex: 1 1 40%;
}
.grid-zone--main__content__lower__right {
	flex: 1 1 60%;
}

.grid-zone--subheader {
	grid-area: subheader;
	padding: var(--gridGutter) 2rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 300;
}

.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.grid-zone__label .rux-status {
	margin-right: .5rem;
}

.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	position: relative;
}

/* .grid-zone__content-constellation {
	flex-flow: column;
} */


.grid-zone__content__wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}




/*
.grid-zone__content__wrap .rux-notification {
	flex-grow: 0;
}
.grid-zone__content__wrap .rux-notification[opened] {
	position: relative; 
	top: 0;
}
*/


/* Grid containers */
.app-grid {
	background:rgb(40, 63, 88);
	display: grid;
	/* width: 100vw; */
	height: 100vh;
	padding: 0 0 /*2vh*/;
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-rows: fit-content(100%) auto;
	grid-template-columns: 30% auto;
	grid-template-areas:
		"header header"
		"sidebar main";
}
.rux-timeline {
	background-color: rgb(32, 50, 70);
	background:
		linear-gradient(
			to top,
			rgb(26, 40, 56) 0%,
			rgb(32, 50, 70) 80%,
			rgb(40, 63, 88) 100%
		);
}

.rux-form-field input {
	box-sizing: border-box;
	order: 2;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--inputBorderColor, transparent);
	border-radius: 3px;

	font-size: var(--fontSize, 1rem);
	color: var(--inputTextColor, rgb(0, 0, 0))
}

	.rux-form-field-div-search{
	right: 0;
	position: absolute;
	padding: .5rem 1.5rem 0 1rem;
	display: block;
	}

	.rux-form-field .search {
		/*
		When overriding an element that has a shadowDOM it’s often the case you need to explicitly
		disable the default styling of the element for each browser
	*/

	-webkit-appearance: none;
	display: block;
	height: 1.625rem;
	/*
		Data-uri encode, Polymer sometimes chokes on ASCII escaped, but usually only when it
		encounters a parenthesis.
	*/
	background: no-repeat center left 0.3rem/1.1em url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%3Cg%20fill%3D%22%230973C1%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%208c2.21%200%204-1.79%204-4s-1.79-4-4-4-4%201.79-4%204%201.79%204%204%204zm0-1a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-4.707.293l1.414%201.414-4%204-1.414-1.414%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.33%205.67l1%201-3.66%203.66-1-1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") #fff;
	padding: 0.5rem 0.5rem 0.5rem 1.75rem;
	}


	/* There’s a red outline here, because this shouldn’t be how the timeline width is defined 
	rux-timeline {
		outline: 1px solid red;
		width: 100vw !important;
	} */



	.rux-global-status-bar .app-meta {
		padding-left: 20px;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-template-areas:
			"icon appname"
			"icon username";
	}	
	.rux-global-status-bar .app-meta:hover {
		cursor: pointer;
	}
	.rux-global-status-bar .app-meta__icon {
		grid-area: icon;
		fill: var(--appMenuDefault);
	}
	.rux-global-status-bar .app-meta:hover .app-meta__icon,
	.rux-pop-up-menu[opened] ~ .rux-global-status-bar .app-meta .app-meta__icon {
		fill: var(--appMenuActive);
	}
	.rux-global-status-bar .app-meta h1 {
		grid-area: appname;
		font-size: 28px;
		margin: 0;
		line-height: 28px;
		text-transform: uppercase;
		color: #FFF;
	}

	.rux-global-status-bar .app-meta h1 span {
		font-weight: 600;
		margin-right: 10px;
	}

	.rux-global-status-bar .app-meta__username {
		grid-area: username;
		font-size: 12px;
		line-height: 12px;
		
	}

  .rux-global-status-bar .rux-clock {
	}
	.rux-global-status-bar .status-indicators {
		margin-right: 100px;
	}


	.constellation__view-controls {
		display: flex;
		margin-left: auto;
		margin-right: 0;

	}
	.contellation__scale-control {
		display: flex;
		align-items: center;

		margin-right: 1.5rem;
	}
	.constellation__timeline-slider {
		margin: 0.45rem 0.75rem 0 0.5rem;
	}


	.ttc-notification-banner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25rem 0.5rem;
		font-size: 1rem;
		flex-shrink: 0;
		
		background-color: rgba(45, 204, 255, 0.3);
		box-shadow: inset 0 0 3px var(--statusDarkStandby, rgb(45, 204, 255));
		border: 1px solid var(--statusDarkStandby, rgb(45, 204, 255));
	}
	

	.ttc-notification-banner__message {
		margin-left: auto;
		margin-right: -10px;
		display: flex;
		justify-content: center;
	}

	.ttc-notification-banner__message a {
		color: #fff;
	}

	.ttc-notification-banner__close-button {
		margin-left: auto;
		height: 10px;
		width: 10px;
	}

	.ttc-notification-banner__icon {
		margin-top: 0.15rem;
		margin-left: 0.25rem;
	}
