.svg {
  width: 100%;
  height: 100%
}

.widget {
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}  

.barText {
  fill: #f5faf8;
  font-weight: 500;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#legend2{
overflow:hidden;
}
.legend2 {
float:left;
margin-right: 1em;
}

.legendItem {
margin: 0 !important;
}


.legend {
font-size: 16px;
font-weight: bold;
}

.key-dot {
display: inline-block;
height: 10px;
margin-right: .5em;
width: 10px;
}

.progress { background: #00777A;}
.issues { background: #833209;}
.completed { background: #52667A;}
.planned {background: #48417F}

